<h2 class="tablehead">Email History</h2>
<table class="table table-striped table-bordered" >
  <thead>
  <tr>
    <th>Detail</th>
    <th>Created At</th>
  </tr>
  </thead>

  <tbody id="email_histories">
    <%= render :partial => "/email_histories/email", :locals => {:email_histories => @email_histories} %>
  </tbody>

</table>
<div id="email_paginator">
  <%= paginate @email_histories, :remote => true, :param_name => "email_page" %>
</div>