<h3> Email History </h3>
<table class="table table-striped" >
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody id="email_histories">
    <%= render :partial => "/email_histories/email", :locals => {:email_histories => @email_histories} %>
  </tbody>

</table>
<div id="email_paginator">
  <%= paginate @email_histories, :remote => true, :param_name => "email_page" %>
</div>