<h3> Email History </h3>
<table class="table table-striped" >
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @mentee.email_histories.order("created_at DESC").each do |email_history| %>
    <tr>
      <td><%= email_history.body %></td>
      <td><%= email_history.created_at.strftime("%d %b, %Y %I:%M %p") %></td>
    </tr>
  <% end %>
  </tbody>
</table>