<h1>Listing best_features</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @best_features.each do |best_feature| %>
      <tr>
        <td><%= best_feature.title %></td>
        <td><%= best_feature.description %></td>
        <td><img src="<%= best_feature.image %>" style="width:50px; height:50px;" alt="" /></td>
        <td><%= link_to 'Show', best_feature %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>