<p id="notice"><%= notice %></p>
<p>
  <img src="<%= @best_feature.image_url(:thumb) %>" alt="" />
</p>

<p>
  <strong>Title:</strong>
  <%= @best_feature.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @best_feature.description %>
</p>
