<h3> Listing Comments </h3>
<table class="table table-striped" >
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.body %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @comments %>