<h3> Listing comments </h3>
<table class="table table-striped" >
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>
  <tbody id="comments">
    <%= render :partial => "/comments/comment", :locals => {:comments => @comments} %>
  </tbody>

</table>
 <div id="comment_paginator">
    <%= paginate @comments, :remote => true, :param_name => "comment_page" %>
 </div>