<h2 class="tablehead">Listing Comments</h2>
<table class="table table-striped table-bordered" >
  <thead>
  <tr>
    <th>Detail</th>
    <th>Created At</th>
  </tr>
  </thead>
  <tbody id="comments">
    <%= render :partial => "/comments/comment", :locals => {:comments => @comments} %>
  </tbody>

</table>
 <div id="comment_paginator">
    <%= paginate @comments, :remote => true, :param_name => "comment_page" %>
 </div>