<h2 class="tablehead">Task Reminder</h2>
<table class="table table-striped table-bordered" >
  <thead>
    <tr>
      <th>     </th>
      <th>DESCRIPTION</th>
      <th>START TIME</th>
      <th>END TIME</th>
      <th>STATUS</th>
      <th>     </th>
    </tr>
  </thead>

  <tbody id="tasks">
    <%= render :partial => "/tasks/task_list", :locals => {:tasks => @tasks, :coach => coach, :mentee => mentee} %>
  </tbody>

</table>
<div id="task_paginator">
  <%= paginate @tasks, :remote => true, :param_name => "task_page" %>
</div>
