<h3> Task Reminder </h3>
<table class="table table-striped" >
  <thead>
  <tr>
     <td>DESCRIPTION</td>
     <td>START TIME</td>
     <td>END TIME</td>
     <td>STATUS</td>
  </tr>
  </thead>

  <tbody id="tasks">
    <%= render :partial => "/tasks/task_list", :locals => {:tasks => @tasks} %>
  </tbody>

</table>
<div id="task_paginator">
  <%= paginate @tasks, :remote => true, :param_name => "task_page" %>
</div>
