<% @tasks.each do |task| %>
<tr>

	<td><%= best_in_place task, :description, :type => :input, :path => user_mentee_task_path(coach, mentee, task) %></td>

	<td><%= task.starttime %></td>
	<td><%= task.endtime %></td>
	<td><%= task.status %></td>
</tr>
<% end %>