<h3> Listing Accomplishments </h3>
<table class="table table-striped" >
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tbody id="accomplishments">
    <%= render :partial => "/accomplishments/accomplishment", :locals => {:accomplishments => @accomplishments} %>
  </tbody>

</table>
 <div id="accomplishment_paginator">
    <%= paginate @accomplishments, :remote => true, :param_name => "accomplishment_page" %>
 </div>