<h2 class="tablehead">Meetings</h2>
<table class="table table-striped table-bordered" >

  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Max Duration  (Min)</th>
      <th>Action</th>
      <th></th>

    </tr>
  </thead>

  <tbody id="meetings">
    <%= render :partial => "/mentees/meeting", :locals => {:coach_meetings => @coach_meetings} %>
  </tbody>

</table>
<div id="meeting_paginator">
   <%= paginate @coach_meetings, :remote => true, :param_name => "meeting_page" %>
</div>