<div>
  <p>
    <strong>User Name:</strong>
    <%= @user.name %>
  </p>
  <h3> Listing Mentees </h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Date of Birth</th>
      <th>Availability</th>
      <th>Prophecy</th>
      <th>Calendar Schedule</th>
    </tr>
    </thead>

    <tbody>
      <%= render :partial => "/mentees/mentee", :locals => {:mentees => @mentees} %>
    </tbody>
      
  </table>

  <div id="paginator">
    <%= paginate @mentees, :remote => true %>
  </div>
  <br>

</div>