        <div>
          <h2 class="tablehead"> Partners </h2>
          <table class="table table-striped" >
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Date of Birth</th>
              <th>Availability</th>
              <th>Prophecy</th>
              <th>Calendar Schedule</th>
            </tr>
            </thead>

            <tbody id="mentees">
              <%= render :partial => "/mentees/mentee", :locals => {:mentees => @mentees} %>
            </tbody>
              
          </table>

          <div id="mentee_paginator">
            <%= paginate @mentees, :remote => true, :param_name => "mentee_page" %>
          </div>
          <br>
        </div>
