
<%= form_for [@profile, @google_event], :html => { :id => 'google_event' } do |f| %>
<p>
  <%=f.label :url %>
  <br/>
  <%=f.text_field :url, {value: @google_event.url} %>
</p>

<p>
  <%=f.submit 'Create' %> <span id = "creating_events" class="spinner" style = "display:none;">Creating, Please wait...</span>
</p>
<%end %>

