<script type="text/javascript">
  calendar_editable = '<%= @calendar_editable %>'
    console.log("index html says calendar_editable "+calendar_editable);
</script>
<div>
  <div id='calendar' mentee_id=<%= @mentee.id if @mentee %>>
  </div>
</div>

<%= render :partial => "actions_dialog" %>