<%- model_class = User -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<h1>Listing coaches</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Index</th>
      <th>Show</th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @coaches.each do |coach| %>
      <tr>
        <td><%= coach.first_name %></td>
        <td><%= coach.last_name %></td>
        <td><%= link_to 'Show', coach_path(coach), :class => 'btn btn-mini'%></td>

      </tr>
    <% end %>
  </tbody>
</table>


