<h1>Listing coaches</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Show</th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @coaches.each do |coach| %>
      <tr>
        <td><%= coach.first_name %></td>
        <td><%= coach.last_name %></td>
        <td><%= link_to 'Show', coach_path(coach) %></td>

      </tr>
    <% end %>
  </tbody>
</table>


