<%= form_for @goal||=Goal.new, :url => user_mentee_goals_path(coach, mentee) do |f| %>

  <div class="field">
    <%= f.text_area :body %>
  </div>
<!--   #   f.actions do
  #     f.action :submit, :as => :button
  #     f.action :cancel
  #   end -->
  <div class="actions">
    		<%= f.submit "Create" %>
    		<%= f.submit "Send Email" %>

  </div>

<% end %>
