<h3> Listing Goals </h3>
<table class="table table-striped" >
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>
  <tbody id="goals">
    <%= render :partial => "/goals/goal", :locals => {:goals => @goals} %>
  </tbody>

</table>
<div id="goal_paginator">
   <%= paginate @goals, :remote => true, :param_name => "goal_page" %>
</div>

