<h2 class="tablehead">Listing Goals</h2>
<table class="table table-striped table-bordered" >
  <thead>
  <tr>
    <th>Detail</th>
    <th>Created At</th>
  </tr>
  </thead>
  <tbody id="goals">
    <%= render :partial => "/goals/goal", :locals => {:goals => @goals} %>
  </tbody>

</table>
<div id="goal_paginator">
   <%= paginate @goals, :remote => true, :param_name => "goal_page" %>
</div>

