#chatfloat{
position: fixed;
bottom: 0px;
left: 0px;
border:solid 1px;
width: 242px
}

#title_bar{
    background: #FEFEFE;
    height: 15px;
    width: 100%;
}
#button{
    border:solid 1px;
    width: 20px;
    height: 15px;
    float:right;
    cursor:pointer;
}