<% @activities.each do |activity| %>
  <tr>
    <td id="activity_body"><%= activity.body %></td>
    <td><%= activity.categories.order("name asc").collect {|category| link_to("#{category.name}", category_path(category)) }.join(", ").html_safe %>
    </td>
    <td>
      <% if can? :edit, @activity %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_activity_path(activity), :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    activity_path(activity),
                    :method => :delete,
                    :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                    :class => 'btn btn-mini btn-danger' %>
      <% end %>
    </td>
  </tr>
<% end %>
