<% if params.has_key? "query" %>

<% @pages.each do |page| %>
  <tr>
    <td>
      <div id="pdf-fullview">
        <%= link_to page.ebook_id, '#' %></td>
      </div>
    <td class="ebook_name"><%= page.ebook_name %></td>
    <td>
      <div id="pdf-view">
        <%= page.page_number %>
      </div>
    </td>
    <td id="tags"> <%= page.tags %> </td>
  </tr>
<% end %>
<% end %>