  <% pages.each do |page| %>
    <tr>
      <td><%= link_to page.ebook_id, admin_ebook_path(page.ebook_id) %></td>
      <td><%= page.ebook_name %></td>
      <td>
        <div id="pdf-view">
          <%= page.page_number %>
        </div>
      </td>
      <td id="tags"> <%= page.tags %> </td>
    </tr>

  <% end %>