<div id='accusoft_viewer'> </div>
<%- model_class = Ebook -%>
<table class="table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th> Page No</th>
    <th> Matched Text</th>
  </tr>
  </thead>
  <% pages ||= [] %>

  <tbody id="ebook_search_result" style="font-size: 14px">
  <%= render :partial => "/admin/ebooks/display_search_result", :locals => {:pages => @pages} %>
  </tbody>
</table>
<% unless (params[:controller] == 'admin/mentees' and params[:action] == 'show') %>
  <div id="ebook_search_paginator">
       <%= paginate @pages, :remote => true, :param_name => "page" %>
  </div>
<% end %>
