<div class="container">
  <div class="row">
    <div class="span9">
      <div id="search_view">
        <%= form_tag search_admin_ebooks_path, :id => "search_ebook", :remote => true, method: :get do %>
          <p>
            <%= text_field_tag :query, params[:query], :style => "width:300px" %>
            <%= submit_tag "Search", name: nil %>
          </p>
        <% end %> <br/>

        <div id="result_table">
          <%= render :partial => "admin/ebooks/result_table" %>
        </div>

      </div>
    </div>
    <div class="span3">
      <div id="pdfContainer" class="pdf-content">
      </div>
    </div>
  </div>
</div>

