<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Ebook</a></li>
        <li><a href="#tabs-2">Question</a></li>
    </ul>

  <div id="tabs-1">
    <%= render :partial => "/ebooks/index_ebook" %>
  </div>

  <div id="tabs-2">
    <%= render :partial => "/questions/index_result" %>
  </div>

<div/>