<div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="carousel-holder-short">
        <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-title">About</h2>
      </div>
  </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row margin-bottom-50">
    <div class="col-sm-6 col-md-4">
      <div class="well well-sm">
        <div class="about-sec">
          <div class="about-img"> <img  src="/assets/Exec-Headshots-042.jpg"/> </div>
          <div class="about-title">
            <h3>Jhon Doe</h3>
            <h5>CEO / Founder</h5>
          </div>
          <hr class="about">
          <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a class="twitter" href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
          <a class="youtube" href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
          <a class="vimeo" href="#"><i class="fa fa-vimeo-square fa-2x"></i></a>
          <div class="clearfix"></div>
        </div>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
      <button class="btn btn-primary btn-sm">Read more</button>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="well well-sm">
        <div class="about-sec">
          <div class="about-img"> <img  src="/assets/Exec-Headshots-042.jpg"/> </div>
          <div class="about-title">
            <h3>Jhon Doe</h3>
            <h5>CEO / Founder</h5>
          </div>
          <hr class="about">
          <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a class="twitter" href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
          <a class="youtube" href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
          <a class="vimeo" href="#"><i class="fa fa-vimeo-square fa-2x"></i></a>
          <div class="clearfix"></div>
        </div>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
      <button class="btn btn-primary btn-sm">Read more</button>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="well well-sm">
        <div class="about-sec">
          <div class="about-img"> <img  src="/assets/Exec-Headshots-042.jpg"/> </div>
          <div class="about-title">
            <h3>Jhon Doe</h3>
            <h5>CEO / Founder</h5>
          </div>
          <hr class="about">
          <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a class="twitter" href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
          <a class="youtube" href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
          <a class="vimeo" href="#"><i class="fa fa-vimeo-square fa-2x"></i></a>
          <div class="clearfix"></div>
        </div>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
      <button class="btn btn-primary btn-sm">Read more</button>
      </div>
    </div>
  </div>
</div>