<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Contact</h1>
      <hr/>
    </div>
    <div class="col-sm-6">
    <form>
      <h4>Phone Number</h4>
      <p>+1 234 567 8900</p>
      <br/>
      <h4>Mailing address</h4>
      <p>Christian Coach Institute<br/>
        Ballantyne One<br/>
        15720 John J. Delaney Drive, Suite 300<br/>
        Charlotte, NC  28277</p>
      <hr/>
      <p><span class="req">*</span>Required</p>
      <br>
      <h4>Purpose of Contact</h4>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Text for option goes here. </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Text for option two goes here. </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
          Text for option three goes here. </label>
      </div>
      <p class="mini">Please indicate what the nature of your contact is</p>
      <br>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label">Subject<span class="req">*</span></label>
          <input class="form-control input-sm" placeholder="Enter Subject"/>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">First Name<span class="req">*</span></label>
              <input class="form-control input-sm" placeholder="Enter First Name"/>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Last Name<span class="req">*</span></label>
              <input class="form-control input-sm" placeholder="Enter Last Name"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Email<span class="req">*</span></label>
              <input class="form-control input-sm" placeholder="Enter Email"/>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Phone No<span class="req">*</span></label>
              <input class="form-control input-sm" placeholder="Enter Phone No"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">How would you like to be contacted<span class="req">*</span></label>
          <select class="form-control input-sm">
            <option>Telephone</option>
            <option>Email</option>
            <option>No Preferences</option>
          </select>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">City<span class="req">*</span></label>
              <input class="form-control input-sm" placeholder="Enter City"/>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">State/Country<span class="req">*</span></label>
              <input class="form-control input-sm" placeholder="Enter State/Country"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Website<span class="req">*</span></label>
          <input class="form-control input-sm" placeholder="http://"/>
        </div>
        <div class="form-group">
          <label class="control-label">How did you here about us?<span class="req">*</span></label>
          <select class="form-control input-sm">
            <option>Websearch</option>
            <option>Referral</option>
            <option>Facebook</option>
            <option>Twitter</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12">
       <div class="form-group">
          <label class="control-label">Message<span class="req">*</span></label>
          <textarea class="form-control" rows="10"></textarea>
        </div>
        <br>
        <button class="btn btn-info">Send Message</button>
      </div>
    </form>
  </div>
</div>
<div class="call-out margin-top-100">
  <div class="container">
  </div>
</div>
</body>
</html>
