<body>

<div class="container">
  <div class="row features text-center">
    <div class="col-sm-3">
     
        <div class="round"><i class="fa fa-certificate fa-3x"></i></div>
      
      <h4>Become a Prophetic Coach</h4>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
      <button class="btn btn-default">Read more</button>
    </div>
    <div class="col-sm-3">
    <div class="round"><i class="fa fa-bullhorn fa-3x"></i></div>
      <h4>Recive Complimentary Coaching</h4>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
      <button class="btn btn-default">Read more</button>
    </div>
    <div class="col-sm-3">
    <div class="round"><i class="fa fa-book fa-3x"></i></div>
      <h4>Start a Prosperity Action Plan</h4>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
      <button class="btn btn-default">Read more</button>
    </div>
    <div class="col-sm-3">
    <div class="round"><i class="fa fa-users fa-3x"></i></div>
      <h4>Join Inner Circle Coaching</h4>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
      <button class="btn btn-default">Read more</button>
    </div>
  </div>
</div>
<div class="call-out margin-top-100">
  <div class="container">
    </div>
  </div>
</div>
</body>
</html>
