<div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="carousel-holder-short">
        <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-title">Google Calendar Infromation</h2>
      </div>
  </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
			
<div class='two-col'>
	<div class='content'>

    <p><strong>Make your Google Calendar public:</strong></p>

    <ol>
    <li>In the Google Calendar interface, locate the "My calendars" area on the left.</li>
    <li>Hover over the calendar you need and click the downward arrow.</li>
    <li>A menu will appear. Click "Share this Calendar".</li>
    <li>Check "Make this calendar public".</li>
    <li>Make sure "Share only my free/busy information" is <strong>unchecked</strong>.</li>
      <li>Click "Save".</li>
      </ol>

      <p><strong>Obtain your Google Calendar's Address:</strong></p>

      <ol>
      <li>In the Google Calendar interface, locate the "My calendars" area on the left.</li>
      <li>Hover over the calendar you need and click the downward arrow.</li>
      <li>A menu will appear. Click "Calendar settings".</li>
      <li>In the Calendar Address section, click the XML button. A pop-up window with your calendar's public URL will appear.
      Use this URL to access your calendar information.</li>
      </ol>
  </div>
</div>
