<div class="call-out margin-top-100">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p class="call-out-text">Experience the Prophetic Coaching for 30-Days - Prophetic coaching system</p>
      </div>
      <div class="col-sm-4">
        <form class="form-inline call-out-form">
          <input class="form-control" type="email" placeholder="Email"/>
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="copyrights">Copyright (C) 2014 Prophetic Coaching</p>
      </div>
    </div>
  </div>
</div>